<html lang="pt-br">
	<head>
		<title>Hortelã - Horta Comunitaria</title>
		<link href="./static/css.css" rel="stylesheet">
		<link href="./static/image/icoi.ico" rel="icon">
		<meta charset="UTF-8">
	</head>
	<body>
		<main>
			<a href="index">
				<button class="zindex1 xBV">X</button>
			</a>
			
			<img src="./static/image/bixinho.png" class="transform06 centerimage margintop-300"></img>
			<div class="margintop-400 centerText">
				<h1>Me desculpe,</br>mas algo deu errado!</h1>
				<h3>Tente novamente mais tarde,</br> ou contate nosso time de </br><a href="fale">suporte</a></h3>
			</div>
			
			<div class="bordE"></div><div class="bordD"></div>
		</main>
	</body>
</html>
<!-------
 ／l、
（ﾟ､ ｡７
l、ﾞ~ヽ
じしf_, )ノ