<html lang="pt-br">
	<head>
		<title>Hortelã - Horta Comunitaria</title>
		<link href="./static/css.css" rel="stylesheet">
		<link href="./static/image/icoi.ico" rel="icon">
		<meta charset="UTF-8">
		<script src="./static/jsIndex.js"></script>
	</head>
	<body onLoad="checkForHeader()">
		<header>
			<!-- User Thing -->
			<span id="uVar" class="presetAbsoluteNOWHERE">{{u}}</span>
			<div class="presetAbsoluteNOWHERE" id="userLogoutPreset">
				<a href="profile" class="floatLeft flexCenterVertical">
					<span class="backgroundImageSpan backgroundImageProfile"></span>
				</a>
				<a href="profile/logout" class="buttonLikeSize color3a7c4f linkNullS smallHoverLikeButton">
					Sair da conta
				</a>
			</div>
			
			<div class="presetAbsoluteNOWHERE" id="userSignUpPreset">
				<a href="login" class="buttonLikeSize color3a7c4f linkNullS smallHoverLikeButton">
					Entrar
				</a>
				<a href="sign" class="buttonLikeSize color3a7c4f linkNullS smallHoverLikeButton">
					Inscrever
				</a>
			</div>
			
			<!-- Normal Content -->
			<a href="index" class="OnMenuHeaderGeneral floatGenericLeft" id="indexHeaderButton">
				<div class="imgContainerMenuHeader">
					<img src="./static/image/mainPikini.png"></img>
				</div>
				<h2 id="NomeHeaderGeneral">Hortelã</h2>
			</a>
			
			<div class="OnMenuHeaderGeneral floatGenericRight flexCenterVertical marginRight150p" id="userProfileHeaderDiv">
			</div>
		</header>
		<!-- This header has JAVA profile/login things -->
		
		<main>
			<a href="/login">Login</a></br>
			<a href="/sign">Sign</a></br>
			<a href="/redefinePass">RePass</a></br>
			<a href="/profile">Profile</a>
		</main>
		
		<footer>
				<div class="footerComp">
					<h4 class="topM">----------------------------------------------------------</h4>
					<h4>Ao acessar e utilizar nosso site você </br>concorda com nossos <a href="termos">termos de uso</a></h4>
				</div>
				<div class="footerComp">
					<h4 class="topM">----------------------------------------------------------</h4>
					<h4>Ao acessar e utilizar nosso site você </br>concorda com nossos <a href="termos">termos de privacidade</a></h4>
				</div>
				<div class="footerComp">
					<h4 class="topM">---------------------------------------</h4>
					<h4>Com duvidas? <a href="ajuda">Fale Conosco</a></h4>
				</div>
				
				<div class="footerComp">
					<h4 class="topM">----Permaneça Conectado----</h4>
					<div class="flexRight">
						<div class="flexCol">
							<h4>Instagram:</h4>
							<a href="">@HortaHortela</a>
						</div>
						<div class="flexCol">
							<h4>Facebook:</h4>
							<a href="">@HortasHortela</a>
						</div>
						<div class="flexCol">
							<h4>Twitter:</h4>
							<a href="">@HortelanHortas</a>
						</div>
					</div>
				</div>
			</footer>
	</body>
</html>
<!-------
 ／l、
（ﾟ､ ｡７
l、ﾞ~ヽ
じしf_, )ノ