<html>
	<head>
		<title>Hortelã - Horta Comunitaria</title>
		<link href="./static/css.css" rel="stylesheet">
		<link href="./static/image/icoi.ico" rel="icon">
		<script src="./static/jsLogin.js"></script>
	</head>
	<body onload="validateForm()">
		<header>
			<a href="index" class="OnMenuHeaderGeneral floatGenericLeft" id="indexHeaderButton">
				<div class="imgContainerMenuHeader">
					<img src="./static/image/headerB.png" class="flip marginright20px"></img>
					<img src="./static/image/icop.png"></img>
					<img src="./static/image/headerB.png" class="marginleft20px"></img>
					
					<img src="./static/image/logoWide.png" class="marginleft150px"></img>
				</div>
			</a>
			
			<div class="OnMenuHeaderGeneral floatGenericRight">
				<a href="index" id="genericfitheader">
					<div class="generalIconBText">
						<img src="./static/image/megaphone.png"></img>
					</div>
					<a href="/contact" class="generalTextLink354719NoResize">Fale Conosco</a>
				</a>
			</div>
		</header>
		<!--This type of header doesn't have login-->
		
		<main>
			<div class="genericAlignCenter flexCenterVertical height70">
				<div class="formDiv">
					<div class="genericFlexTop">
						<img src="./static/image/icop.png" class="smallicoresize"></img>
						<h2>Fazer Login</h2>
					</div>
					<form class="genericFlexTop" method="post" target="_self" action="/login/send">
						</br></br>
						
						<div class="inputFormContainerFamily">
							<label for="email">E-Mail:</label>
							<input type="email" class="formInput" required id="email" name="email" placeholder=" Digite seu e-mail" autocomplete></input>
						</div>
						
						</br>
						
						<div class="inputFormContainerFamily">
							<label for="pass">Senha:</label>
							<input type="text" class="formInput" required id="pass" name="password" placeholder=" Digite sua senha" autocomplete></input>
						</div>
						
						</br></br></br>
						
						<input type="submit" class="submitButtomForm"></input>
					</form>
					
					<h4 class="noMarginDown">Esqueceu a senha? <a href="/redefinePass">Redefinir Senha</a></h4>
					<h4>Não tem conta? <a href="/sign">Inscrever-se</a></h4>
				</div>
			</div>
		</main>
		
		<footer>
			<div class="footerComp">
				<h4>Ao acessar e utilizar nosso site você </br>concorda com nossos <a href="/termos">termos de uso</a></h4>
			</div>
			<div class="footerComp">
				<h4>Ao acessar e utilizar nosso site você </br>concorda com nossos <a href="/termos">termos de privacidade</a></h4>
			</div>
			<div class="footerComp">
				<h4>Com duvidas? <a href="/contact">Fale Conosco</a></h4>
			</div>
			
			<div class="footerComp">
				<div class="flexRight">
					<div class="flexCol">
						<h4>Instagram:</h4>
						<a href="">@HortaHortela</a>
					</div>
					<div class="flexCol">
						<h4>Facebook:</h4>
						<a href="">@HortasHortela</a>
					</div>
					<div class="flexCol">
						<h4>Twitter:</h4>
						<a href="">@HortelanHortas</a>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
<!-------
 ／l、
（ﾟ､ ｡７
l、ﾞ~ヽ
じしf_, )ノ