<html>
	<head>
		<title>Hortelã - Horta Comunitaria</title>
		<link href="./static/css.css" rel="stylesheet">
		<link href="./static/image/icoi.ico" rel="icon">
	</head>
	<body>
		<header>
			<a href="index" class="OnMenuHeaderGeneral floatGenericLeft" id="indexHeaderButton">
				<div class="imgContainerMenuHeader">
					<img src="./static/image/mainPikini.png"></img>
				</div>
				<h2 id="NomeHeaderGeneral">Hortelã</h2>
			</a>
			
			<div class="OnMenuHeaderGeneral floatGenericRight">
				<a href="index" id="genericfitheader">
					<div class="generalIconBText">
						<img src="./static/image/megaphone.png"></img>
					</div>
					<h2 class="generalTextLinke8f4d9NoResize">Fale Conosco</h2>
				</a>
			</div>
		</header>
		<!--This type of header doesn't have login-->
		
		<p style="color: black; text-align: center; margin-top: 15%;">{{u[0]}} - {{u[1]}}</p>
		
		<footer>
			<div class="footerComp">
				<h4 class="topM">----------------------------------------------------------</h4>
				<h4>Ao acessar e utilizar nosso site você </br>concorda com nossos <a href="termos.html">termos de uso</a></h4>
			</div>
			<div class="footerComp">
				<h4 class="topM">----------------------------------------------------------</h4>
				<h4>Ao acessar e utilizar nosso site você </br>concorda com nossos <a href="termos.html">termos de privacidade</a></h4>
			</div>
			<div class="footerComp"></br></br></br></div>
			
			<div class="footerComp">
				<h4 class="topM">----Permaneça Conectado----</h4>
				<div class="flexRight">
					<div class="flexCol">
						<h4>Instagram:</h4>
						<a href="">@HortaHortela</a>
					</div>
					<div class="flexCol">
						<h4>Facebook:</h4>
						<a href="">@HortasHortela</a>
					</div>
					<div class="flexCol">
						<h4>Twitter:</h4>
						<a href="">@HortelanHortas</a>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
<!-------
 ／l、
（ﾟ､ ｡７
l、ﾞ~ヽ
じしf_, )ノ