<html lang="pt-br">
	<head>
		<title>Hortelã - Horta Comunitaria</title>
		<link href="./static/css.css" rel="stylesheet">
		<link href="./static/image/icoi.ico" rel="icon">
		<meta charset="UTF-8">
		<script src="./static/jsVoluntarios.js"></script>
	</head>
	<body onLoad="">
		<header>
			<a href="index" class="OnMenuHeaderGeneral floatGenericLeft" id="indexHeaderButton">
				<div class="imgContainerMenuHeader">
					<img src="./static/image/headerB.png" class="flip marginright20px"></img>
					<img src="./static/image/icop.png"></img>
					<img src="./static/image/headerB.png" class="marginleft20px"></img>
					
					<img src="./static/image/logoWide.png" class="marginleft150px"></img>
				</div>
			</a>
			
			<div class="OnMenuHeaderGeneral floatGenericRight flexCenterVertical marginRight150p">
				<a href="profile" class="floatLeft flexCenterVertical">
					<span class="backgroundImageSpan backgroundImageProfile"></span>
				</a>
				<a href="profile/logout" class="buttonLikeSize color3a7c4f linkNullS smallHoverLikeButton">
					Sair da conta
				</a>
			</div>
		</header>
		<!-- This header has FIXED profile/login things -->
		
		<main>
			<form class="voluntarioDiv" action="voluntarios/send" method="post" target="_self">
				<div class="voluntarioDivHeader">
					<h1>-<u>Voluntários da Hortelã - ONG:</u></h1>

					<div>
						<button type="submit" class="submitButtomForm">Salvar Alterações</button>
					</div>
				</div>
				
				<div class="entryScroll">
					{% for entry in data %}
						<div class="voluntarioEntry">
							<img src="static/image/profile.png" class="entryimg">
							<div>
								<h2 class="menor entrytop">ID: {{ entry[2] }}</h2>
								<h2 class="maior entrytop">E-mail: {{ entry[1] }}</h2>
								<select name="status_{{ entry[2] }}" class="submitButtomForm selectClick" data-id="{{ entry[2] }}">
									<option value="avaliando" {% if entry[4] == 'avaliando' %}selected{% endif %}>Avaliando</option>
									<option value="horta" {% if entry[4] == 'horta' %}selected{% endif %}>Horta</option>
									<option value="livre" {% if entry[4] == 'livre' %}selected{% endif %}>Livre</option>
								</select>
								<h2 class="menor entrybottom">Type: {{ entry[3] }}</h2>
								<h2 class="maior entrybottom">Nome: {{ entry[0] }}</h2>
							</div>
						</div>
					{% endfor %}

				</div>
			</form>
		</main>
		
		<footer>
			<div class="footerComp">
				<h4>Ao acessar e utilizar nosso site você </br>concorda com nossos <a href="/termos">termos de uso</a></h4>
			</div>
			<div class="footerComp">
				<h4>Ao acessar e utilizar nosso site você </br>concorda com nossos <a href="/termos">termos de privacidade</a></h4>
			</div>
			<div class="footerComp">
				<h4>Com duvidas? <a href="/contact">Fale Conosco</a></h4>
			</div>
			
			<div class="footerComp">
				<div class="flexRight">
					<div class="flexCol">
						<h4>Instagram:</h4>
						<a href="">@HortaHortela</a>
					</div>
					<div class="flexCol">
						<h4>Facebook:</h4>
						<a href="">@HortasHortela</a>
					</div>
					<div class="flexCol">
						<h4>Twitter:</h4>
						<a href="">@HortelanHortas</a>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
<!-------
 ／l、
（ﾟ､ ｡７
l、ﾞ~ヽ
じしf_, )ノ