 @font-face { font-family: lafont; src: url('BRLNSDB.TTF'); } 

html{scroll-behavior: smooth;}
header{
	width: 100%;
	height: 10%;
	
	background-color: #244031;
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	height: 15%;
	width: 80%;
	
	margin: auto;
	margin-top: 8%;
	
	border-top: 3px solid #335945;
}
body{
	height: 100%;
	
	margin: 0;
	
	background-color: #faf2e7;
	color: #244031;
	
	font-family: lafont;
}
a{color: #244031}

.flip{transform: scaleX(-1) scaleY(-1);}
.bordE{
	position: absolute;
	top: 0;
	left: 0;
	
	width: 0;
	height: 0;
	
	border-left: 0px solid transparent;
	border-right: 270px solid transparent;
	border-top: 300px solid #223c2e;
}
.bordD{
	position: absolute;
	bottom: 0;
	right: 0;
	
	width: 0;
	height: 0;
	
	border-left: 270px solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 300px solid #223c2e;
}
.zindex1{z-index:1}
.xBV{
	position: absolute;
	top: 50px;
	left: 50px;
	
	width: 55px;
	height: 55px;
	
	border-radius: 50%;
	border-color: #faf2e7;
	
	background-color: #faf2e7;
	color: #244031;
	
	font-family: lafont;
	font-size: 45px;
}
.color649674{color: #649674;}
.topTabBorder{
	border: solid 4px #488264;
	border-radius: 25px 25px 0 0;
}
.bottomTabBorder{
	height: 50px;
	border: solid 4px #488264;
	border-radius: 0 0 25px 25px;
	
}
.marginleft150px{margin-left: 150px;}
.marginleft20px{margin-left: 20px;}
.marginleft50px{margin-left: 50px;}
.marginright20px{margin-right: 20px;}
.popUpBack{
	/* When enabling the ddisplay, it HAS to be flex >:(*/
	position: fixed;
	display: none;
	justify-content: center;
	
	top: 0;
	left: 0;
	
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	
	z-index: 1;
}
.displayindex{
	position: relative;
	overflow: hidden;
	
	height: 500px;
	border-top: solid 4px #2b4d3a;
	border-bottom: solid 4px #2b4d3a;
}
.overOff{
	overflow: hidden;
}
.doacB{
	width: 400px;
	margin-right: 25px;
}
.displayindex img{
	width: 100%;
	margin-top: -15%;
}
.indexSection{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 150px;
	padding-top: 20px;
	
	height: auto;
	width: 80%;
	
	border-top: solid 4px #2b4d3a;
	color: 354719;
}
.borderRoundYeah{
	border-radius: 48%;
	
	border:4px solid #488264;
	padding: 10px;
}
.backgroundededed{background-color: #ededed;}
.padding15px{padding: 15px;}
.paddingHorizontal15px{padding-left: 15px; padding-right: 15px;}
.paddingVertica50px{padding-top: 50px; padding-bottom: 50px;}
.BIGtext{font-size: 50px}
.popUp{
	position: fixed;
	top: 150%;
	
	border: solid 3px #354719;
	background-color: #f1f4f9;
	padding-left: 40px;
	padding-right: 40px;
	
	z-index: 2;
}
.color750b0b{color: #750b0b;}
.radius10p{border-radius: 10px;}
.centerText{text-align: center}
.leftText{text-align: left}
.centerimage{display:block; margin-left: auto; margin-right: auto; width: 50%;}
.width100{width: 100%;}
.fontSize25p{font-size: 25px}
.fontSize20p{font-size: 20px}
.fontSize16p{font-size: 16px}
.color3a7c4f{color: #3a7c4f;}
.backgroundImageSpan{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left top;
	
	height: 25px;
	width: 30px;
}
.backgroundImagePin{background-image: url("./image/pin.png");}
.backgroundImageId{background-image: url("./image/id.png");}
.backgroundImagePhone{background-image: url("./image/phone.png");}
.backgroundImageProfile{background-image: url("./image/profile.png");}
.margintop-300{margin-top: -300px;}
.margintop-400{margin-top: -400px;}
.margintop50{margin-top: 50px;}
.marginTop0{margin-top: 0;}
.marginBot0{margin-Bottom: 0;}
.flexFit1{flex: 1;}
.marginRight150p{margin-right: 150px;}
.textBold{font-weight: 700}
.textNormal{font-weight: 300}
.transformS0{transform: scale(.7)}
.transform06{transform: scale(.4)}
.heightAuto{height: auto;}
.colorBlack{color: black;}
.floatLeft{float: left}
.width45{width: 45%;}
.width80{width: 80%;}
.whiteBackground{background-color: white;}
.height75{height: 75%;}
.linkNullS{text-decoration: none;}
.width500p{width: 500px;}
.flexCenterVertical{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.flexCenter{
	display: flex;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}
.flexCenterVertical2{
	display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
	margin-left: 115px;
}
.flexCenterContent{display: flex; align-content: center; flex-wrap: wrap;}
.height70{height: 70%;}
.fontCourier{font-family: 'Courier New';}
.marginLeft15{margin-left: 15%;}
.flexRight{
	display: flex;
	flex-direction: row;
}
.flexColl{display: flex; flex-direction: column; align-items: center;}
.flexCol{
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}
.flexEnd{
    display: flex;
    justify-content: flex-end;
}
.flexC2{
	display: flex;
    margin-right: 10px;
    align-items: center;
    flex-direction: row;
}
.flexCol > h4{margin: 0;}
.flexCol > a{color: #747474}
.marginAuto{margin: auto;}
.footerComp{
	display: flex;
	width: auto;
	height: 70%;
	
	padding-top: 10px;
	margin-top: 1%;
	margin-left: 40px;
	
	flex-direction: column;
	text-align: center;
	
	color: #747474;
	border-top: solid 2px #747474;
}
.footerComp>h4{margin: 0;}
.footerComp>h4>a{color: #747474}
.footerIMG{
	width: 41px;
	height: 41px;
}
.inputFormContainerFamily{
	width: 72%;
	
	text-align: left;
	margin: auto;
}
.submitButtomForm{
	width: 70%;
    height: 40px;
	
    margin: auto;
	
    font-size: 19;
    font-weight: 700;	
	
	border: 2px #2b4d3a solid; 
	border-radius: 10px;
	background-color: #335945;
	color: white;
	
	transition: .2s;
}
.marginLeft18{margin-left: 18%}
.formInput{
	width: 100%;
	height: 25px;
	
	border: 2px #244031 solid;
	border-radius: 5px;
}
.fitFormProf{
	width: auto;
}
.widthAuto{width: auto;}
.fakeInputDisabled{
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}
.smallButtom{
	margin-left: 28%;
    height: 20px;
    width: 50%;
    font-size: 13px;
}
.warningbutton{	
	background-color: #cb7144;
	border-color: #60341e;
	color: #60341e;
}
.roundButtonS{
	transition: .3s;
	
	height: 100px;
	padding-left: 20px;
	padding-right: 20px;
	
	border: 0 solid black;
	border-radius: 50px;
	background-color: #244031;
	
	color: white;
	font-size: 50px;
	font-family: lafont;
}
.marginBot5p{margin-Bottom: 5px;}
.marginTop8p{margin-top: 8px;}
.formDiv{
	width: auto;
	border-radius: 20px;
	border: 3px solid #2b4d3a;
	
	margin: auto;
	margin-top: 5%;
	padding	: 2%;
	
	background-color: white;
	transition: .2s;
}
.marginright25{
	margin-right: 25%;
}
.noMarginDown{
	margin-bottom: 0;
}
.normalTextNobBo{
	font-weight: 400;
}
.genericFlexTop{
	display: flex;
	flex-direction: column;
}
.smallicoresize{
	transform: scale(.2);
	margin-top: -40%;
	margin-bottom: -45%;
}
.genericAlignCenter{
	width: auto;
	margin: auto;
	text-align: center;
}
.doacP{
	width: 800px;
	text-align: left;
	
	margin-top: 50px;
}
.doacS{
	border-left: 4px solid #2b4d3a;
	border-top: 4px solid #2b4d3a;
}
.flexmiddlenone{
	display: flex;
    justify-content: space-between;
	flex-wrap: nowrap
}
.generalIconBText{
	float: left;
	
	height: 80%;
	width: auto;
}
.generalIconBText > img{
	float: left;
	
	height: 100%;
}
.generalTextLink354719NoResize{
	float: left;
	
	margin: 0;
	margin-right: 150px;;
	color: #488264;
	font-size: 120%;
}
.OnMenuHeaderGeneral{
	float: left;
	display: flex;
	align-items: center;
	
	height: 100%;
	width: auto;
	
	white-space: nowrap;
}
.floatGenericLeft{float: left;}
.floatGenericRight{float: right;}
.imgContainerMenuHeader{
	float: left;
	
	height: 100%;
	width: auto;
}
.imgContainerMenuHeader > img{
	float: left;
	
	height: 100%;
	object-fit: cover;
}
.buttonLikeSize{
	padding: 5px;
}
.horizontalMenuList{
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 57px;
	
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	
	height: auto;
	width: 50%;
	
	background-color: #a0cf7c;
	border: solid #a0cf7c 10px;
	border-radius: 150px;
}
.horizontalMenuList > a{
	list-style: none;
	text-decoration: none;
	color: #e8f4d9;
	
	background-color: #8bbd66;
	border-radius: 12px;
	border: solid 5px #8bbd66;
	
	width: 99px;
	
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 15px;
}
.voluntarioDiv{
	height: 600px;
	width: 1000px;
	
	margin: auto;
	margin-top: 40px;
	
	border: solid 6px #2b4d3a;
	border-radius: 6px;
}
.voluntarioDivHeader {
	height: 80px;
	border-bottom: solid 4px #2b4d3a;
	
	display: flex;
	justify-content: space-between;
    align-items: center;
	
	padding-left: 50px;
}
.voluntarioDivHeader div{
	height: 100%;
	width: 300px;
	
	display: flex;
	justify-content: center;
    align-items: center;
	
	border-left: solid 4px #2b4d3a;
}
.voluntarioDivHeader div button{
	height: 60px;
	width: 230px;
}
.voluntarioEntry{
	display: flex;
    align-items: center;
	
	height: 160px;
	width: 99%;
	
	border: solid 4px #223c2e;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.voluntarioEntry div{
    display: grid;
	
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
	gap: 10px;
	
	margin-left: 10px;
}
.voluntarioEntry select{
	height: 40px;
    width: 170px;
}
.maior{
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 500px;
}
.menor{
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 120px;
}
.entryScroll{
	overflow-y: auto;
	overflow-x: hidden;
}
.entryimg{
	height: 150px;
	width: auto;
}
.entrytop{margin-bottom: 0;}
.entrybottom{margin-top: 0;}
.selectClick{transition: 0s; margin-top: -10px;}

#pixBS{width: fit}
#indexHeaderButton{
	margin-left: 150px;
}
#genericfitheader{
	float: left;
	display: flex;
	align-items: center;
	
	margin-right: 15px;
	height: 30%;
	width: auto;
	
	white-space: nowrap;
}
#NomeHeaderGeneral{
	float: left;
	font-size: 250%;
	
	margin: 0;
	margin-left: 5%;
	
	color: #E8F4D9;
	
	white-space: nowrap;
}
#ass{height:200px;}

.smallHoverLikeButton:hover{
	color: #488264;
}
.submitButtomForm:hover{background-color: #488264;}
.warningbutton:hover{background-color: #de7e4f}
.roundButtonS:hover{background-color: #2b4d3a; transform: scale(1.1)}
.horizontalMenuList > a:hover{background-color: #8ab36b; border-color: #8ab36b}
.selectClick:focus{border-radius: 10px 10px 0 0}

/* Presets */
.presetAbsoluteNOWHERE{display: none;}