header{
	width: 100%;
	height: 10%;
	
	background-color: #ade781;
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	height: 15%;
	width: 80%;
	
	margin: auto;
	margin-top: 8%;
	
	border-top: 3px solid #ade781;
}
body{
	height: 100%;
	
	margin: 0;
	
	background-color: #f1f4f9;
	color: #E8F4D9;
	
	font-family: arial;
}

.color3a7c4f{color: #3a7c4f;}
.backgroundImageSpan{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left top;
	
	height: 25px;
	width: 30px;
}
.backgroundImagePin{background-image: url("./image/pin.png");}
.backgroundImagePhone{background-image: url("./image/phone.png");}
.backgroundImageProfile{background-image: url("./image/profile.png");}
.marginTop0{margin-Top: 0;}
.marginBot0{margin-Bottom: 0;}
.marginRight150p{margin-right: 150px;}
.textBold{font-weight: 700}
.textNormal{font-weight: 300}
.transformS0{transform: scale(.7)}
.heightAuto{height: auto;}
.colorBlack{color: black;}
.floatLeft{float: left}
.width45{width: 45%;}
.whiteBackground{background-color: white;}
.height75{height: 75%;}
.linkNullS{text-decoration: none;}
.width500p{width: 500px;}
.flexCenterVertical{
	Display: flex;
	align-content: center;
	flex-wrap: wrap;
}
.height70{height: 70%;}
.blueishgreentextone{color: #3a7c4f;}
.fontCourier{font-family: 'Courier New';}
.marginLeft15{margin-left: 15%;}
.flexRight{
	display: flex;
	flex-direction: row;
}
.flexCol{
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}
.flexCol > h4{margin: 0;}
.flexCol > a{color: #747474}
.marginAuto{margin: auto;}
.footerComp{
	display: flex;
	width: auto;
	height: 70%;
	
	margin-top: 1%;
	margin-left: 40px;
	
	flex-direction: column;
	text-align: center;
	
	color: #747474;
}
.footerComp>h4{margin: 0;}
.footerComp>h4>a{color: #747474}
.footerIMG{
	width: 41px;
	height: 41px;
}
.inputFormContainerFamily{
	width: 72%;
	
	text-align: left;
	margin: auto;
}
.submitButtomForm{
	width: 60%;
    height: 40px;
	
    margin: auto;
	
    font-size: 19;
    font-weight: 700;	
	
	border: 2px #759f56 solid; 
	border-radius: 10px;
	background-color: #a0cf7c;
	color: white;
	
	transition: .3s;
}
.formInput{
	width: 100%;
	height: 25px;
	
	border: 2px #759f56 solid;
	border-radius: 5px;
	
	margin: auto;
}
.formDiv{
	width: 20%;
	border-radius: 20px;
	
	margin: auto;
	padding	: 2%;
	
	background-color: white;
	transition: .3s;
}
.marginright25{
	margin-right: 25%;
}
.noMarginDown{
	margin-bottom: 0;
}
.normalTextNobBo{
	font-weight: 400;
}
.genericFlexTop{
	display: flex;
	flex-direction: column;
}
.smallicoresize{
	transform: scale(.2);
	margin-top: -40%;
	margin-bottom: -45%;
}
.genericAlignCenter{
	width: auto;
	margin: auto;
	text-align: center;
	
	color: black;
}
.generalIconBText{
	float: left;
	
	height: 80%;
	width: auto;
}
.generalIconBText > img{
	float: left;
	
	height: 100%;
}
.generalTextLink354719NoResize{
	float: left;
	
	margin: 0;
	margin-left: 5%;
	
	color: #354719;
	font-size: 120%;
}
.OnMenuHeaderGeneral{
	float: left;
	display: flex;
	align-items: center;
	
	height: 100%;
	width: auto;
	
	white-space: nowrap;
}
.floatGenericLeft{float: left;}
.floatGenericRight{float: right;}
.imgContainerMenuHeader{
	float: left;
	
	height: 100%;
	width: auto;
}
.imgContainerMenuHeader > img{
	float: left;
	
	height: 100%;
	object-fit: cover;
}
.buttonLikeSize{
	padding: 5px;
}

#indexHeaderButton{
	margin-left: 150px;
}
#genericfitheader{
	float: left;
	display: flex;
	align-items: center;
	
	margin-right: 150px;
	height: 30%;
	width: auto;
	
	white-space: nowrap;
}
#NomeHeaderGeneral{
	float: left;
	font-size: 250%;
	
	margin: 0;
	margin-left: 5%;
	
	color: #E8F4D9;
	
	white-space: nowrap;
}

.smallHoverLikeButton:hover{
	background-color: rgba(100,150,116, .8);
	color: #ade781;
	border-radius: 10px;
}
.submitButtomForm:hover{
	background-color: #8ab36b;
}


/* Presets */
.presetAbsoluteNOWHERE{display: none;}